{% extends 'base.html.twig' %}

{% block title %}Détails de l'entreprise{% endblock %}

{% block body %}
    <h1>{{ company.name }}</h1>

    <ul>
        <li><strong>Siret :</strong> {{ company.siret }}</li>
        <li><strong>Adresse :</strong> {{ company.address }}</li>
    </ul>

    <a href="{{ path('company_edit', {id: company.id}) }}">Éditer</a>
    <form method="post" action="{{ path('delete_company', {id: company.id}) }}" style="display:inline;">
        <button type="submit" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette entreprise ?');">Supprimer</button>
    </form>
    
    <a href="{{ path('company_projects', {companyId: company.id}) }}">Voir les projets</a>
{% endblock %}
