{% extends 'base.html.twig' %}

{% block title %}Éditer l'entreprise{% endblock %}

{% block body %}
    <h1>Modifier la société {{ company.name }}</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.siret) }}
        {{ form_row(form.address) }}
        
        <button type="submit">Mettre à jour</button>
    {{ form_end(form) }}
{% endblock %}
