{% extends 'base.html.twig' %}

{% block title %}Nouvelle entreprise{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle entreprise</h1>
    
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.siret) }}
        {{ form_row(form.address) }}
        
        <button type="submit">Créer</button>
    {{ form_end(form) }}
{% endblock %}
