{% extends 'base.html.twig' %}

{% block title %}Éditer le projet{% endblock %}

{% block body %}
    <h1>Modifier le projet {{ project.title }}</h1>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        
        <button type="submit">Mettre à jour</button>
    {{ form_end(form) }}
{% endblock %}
