{% extends 'base.html.twig' %}

{% block title %}Détails du projet{% endblock %}

{% block body %}
    <h1>{{ project.title }}</h1>

    <p>{{ project.description }}</p>
    <p><strong>Date de création :</strong> {{ project.creationAt|date('d-m-Y') }}</p>

    <a href="{{ path('edit_project', {companyId: project.company.id, projectId: project.id}) }}">Éditer</a>
    <form method="post" action="{{ path('delete_project', {companyId: project.company.id, projectId: project.id}) }}" style="display:inline;">
        <button type="submit" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce projet ?');">Supprimer</button>
    </form>
{% endblock %}
